html {

}

.mainDiv {
    display: flex; justify-content: center;
}
.mainHead {
    font-weight: bold; text-align: center; font-size: x-large
}
.boxDesign {
    width: 600px;
    padding: 30px;
    margin-top: 10px;
    border-style: solid;
    box-shadow: 10px 10px 10px 10px grey;
}
.heading {
    font-weight: bold
}
.headingMargin {
    font-weight: bold; margin-top: 10px
}
.paragraph {
    margin-left: 10px
}

.buttonDesign {
    width: 20em; margin: 0 auto; display: flex; justify-content: center
}

