body{
    margin: 0;
}
#login_container{
    color: black;
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 3em auto 0 auto;
    font-family: sans-serif;
    border: solid 1px rgb(0,0,0,.43);
    padding-top: .3em;
    background: white;
}
.login_heading{
    color: black;
    text-align: center;
    margin: 1.4em auto 0.2em auto;
    width: 85%;
}
.login_heading > p{
    margin: 0 0 3px 0;
}
#input_section{
    color: black;
    margin: 0 auto 17px auto;
}
#input_section > input{
    width: 16em;
    padding: .5em 4em 0.5em .4em;
    margin-top: .8em;
    font-size: 1em;
}
#input_section > span{
    font-size: .8em;
}

#sign_in_button{
    color: black;
    width: fit-content;
    padding: .4em 4em .4em 4em;
    margin: 10px auto 37px auto;
    background: #EEEEEE;
    border: 1px solid rgb(112,112,112,.26);
    box-shadow: 7px 7px 0px #5680e9;
    cursor: pointer;
    font-size: 1.12em;
}
.heading{
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #5680e9;
    text-shadow: 0.5px 0.5px 0px rgb(0,0,0,.2);
}
.heading_context{
    font-size: 1em;
}
.no_account{
    font-size: .8em;
    margin: 1px 0px 14px 24px;
}
input::placeholder{
    color: black;
    opacity: .9;
    letter-spacing: .6px;
}
.light_background{
    background: rgb(0,0,0,.05);
}
.company_name_left{
    color: rgb(0,0,0,.73);
}
.company_name_right{
    color: rgb(29,146,197);
}
.form_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.messages{
    color: red;
    margin: 5px auto 0px auto;
    padding: 0;
    font-weight: bold;
}
.messages > p{
    margin: 0;
}