{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block styling %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/directory.css' %}">
    {% endblock %}
    {% block title %}<title>Directory</title>{% endblock %}
    {% block profile_page %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}
</head>

{% block content %}
<body>



<h2 class="title">Company Directory</h2>
<div class="surroundBody">
    <div class="leftBar">
        <div class="itemHeader"><p>Teams:</p></div>
        <div class="innerBar">
            {% for team in TeamList %}
                <li><a href="/teamDisplay/{{team.id}}/">{{team.name}}</a></li>
            {% endfor %}
        </div>

    </div>

    <div class="middleBar">
        <div class="itemHeader"><p>Users:</p></div>
        <div class="innerBar">
            {% for user in UserList %}
                <li><a href="/userDisplay/{{user.id}}/">{{user.first_name}}{{user.last_name}}</a></li>
            {% endfor %}
        </div>

    </div>

    <div class="rightBar">
        <div class="itemHeader"><p>Projects:</p></div>
        <div class="innerBar">
            {% for project in ProjectList %}
             <li><a href="/projectDisplay/{{project.id}}/">{{project.name}}</a></li>
            {% endfor %}
        </div>

    </div>
</div>




</body>
{% endblock %}
</html>