{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block styling %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities/autocomplete.css' %}">
        <link rel="stylesheet" href="{% static 'css/teamForm.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities/validator.css' %}">
        <script src="{% static 'js/utilities/jquery.autocomplete.js' %}"></script>
        <script src="{% static 'js/projectmaker/edit_projectmaker.js' %}"></script>
        <script src="{% static 'js/projectmaker/main_form_validator.js' %}"></script>
    {% endblock %}
    {% block title %}<title>Project Maker</title>{% endblock %}
    {% block builders_pages %}
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Builders
            </a>
            <div class="dropdown-menu p-0 rounded-0" style="box-shadow: 1px 1px 2px black;" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" style="background-color: #f8f9fa;" href="{% url 'teammaker' %}">Team Builder</a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item" style="background-color: #f8f9fa;" href="{% url 'projectmaker' %}">Project Builder</a>
            </div>
        </li>
    {% endblock %}
</head>
{% block content %}
<body>

    <div  class="h-100 d-flex flex-md-column align-items-center">
        {% if Fail %}
            <div class="alert alert-danger" role="alert">
                {{ Fail }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}


        <form id="project_form" action="" method="post" class="d-flex flex-md-column align-items-center h-100 mt-5 w-75">
            {% csrf_token %}

            <div class="border d-flex flex-md-column align-items-center w-100 pb-2">
                <h2 class="bg-light border w-100 text-center pb-2 pt-1">Project Information</h2>

                <table>
                    <tr>
                        <td>
                            <label for="project_name" >Project Name:</label> <br>
                            <input id="project_name" type="text" name="project_name" value="{{project.name}}" class="text_input" required>
                        </td>
                        <td>
                            <label for="project_owner">Project Owner:</label> <br>
                            <input id="project_owner" type="text" name="project_owner" value="{{project.project_owner.first_name}} {{project.project_owner.last_name}}" class="text_input" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="short_description">Short Description:</label> <br>
                            <input id="short_description" type="text" name="short_description" class="text_input" value="{{project.short_description}}">
                        </td>
                        <td>
                            <label for="long_description">Long Description:</label> <br>
                            <input id="long_description" type="text" name="long_description"  value="{{project.description}}" class="text_input">
                        </td>
                    </tr>

                </table>


                <label for="type">Type:</label>
                <select name="type" value="{{project.0.type}}" id="type">
                    <option value="PUB">Public</option>
                    <option value="PRI">Private</option>
                </select>

                <div class="d-flex flex-md-column align-items-center">
                    <label for="start_date">Start Date</label><br>
                    <input type="date" name="start_date" id="start_date0" value="{{project.start_date|date:"Y-m-d" }}" class="date">
                    <label for="projected_end_date">Projected End Date</label><br>
                    <input type="date" name="projected_end_date" value="{{project.projected_end_date|date:"Y-m-d"}}" id="projected_end_date" class="date">
                </div>
            </div>

            <div class="border d-flex flex-md-column align-items-center w-100 mt-2 pb-4">
                <h2 class="bg-light border w-100 text-center pb-2 pt-1">Team Assigner</h2>

                <div class="d-flex flex-md-row w-100 justify-content-center align-items-center">

                    <div class="d-flex flex-md-column mr-1">
                        <label for="team_search">Team</label>
                        <input type="text" id="team_search" name="team_search_value">
                    </div>
                    <span id="add_team_assignment" class="align-self-center border bg-primary pl-2 pr-2 pt-1 pb-1 mt-auto text-white" style="text-shadow: 1px 1px 2px black;cursor:pointer;">Add</span>

                </div>

                {% for team in teams %}
                      <div class="member_relation mt-3 d-flex flex-md-row justify-content-around w-50 border bg-light align-items-center p-2">
                          <p class="name_association m-0">{{team.name}}</p>
                          <span class="current_member_delete rounded-circle bg-white border">X</span>
                          <input type="hidden" name="current_member_id" value="{{team.id}}">
                      </div>
                    {% endfor %}

            </div>

            <div id="submit_group" class="mt-3 w-75 d-flex flex-md-row justify-content-center">
                <input type="submit" value="Save Changes" class="btn btn-primary w-50 mr-2">
                <a id="cancel_create" class="btn btn-outline-secondary w-50 ml-2" href="{% url 'profile' %}">Cancel</a>
            </div>
        </form>
    </div>

</body>
{% endblock %}
</html>