{% load static %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/utilities/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/notifications/nav_notification.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/components/navigation.css' %}">
    {% block styling %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}

    {% block title %} {% endblock %}

    <nav class="navbar navbar-dark navbar-expand p-0" style="background-color: #5680e9;">
        <a class="navbar-brand ml-1 mr-1" href="{% url 'profile' %}">
            <img src="{% static 'images/logo/wicrosoft_logo.svg' %}" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                {% block profile_page %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
                    </li>
                {% endblock %}



                {% block skills_page %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'skills' %}">Skills</a>
                    </li>
                {% endblock %}

                 {% block search_page %}
                   <li class="nav-item dropdown m-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company Index
                            </a>
                            <div class="dropdown-menu p-0 rounded-0" style="box-shadow: 1px 1px 2px black;" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"  href="{% url 'search' %}">Search</a>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                 <a class="dropdown-item"  href="{% url 'directory' %}">Directory</a>
                            </div>
                        </li>
                {% endblock %}


{#                for managers when doing if statement#}
                {% if user.permission == "MNGR" %}
                    {% block admin_tools %}
                        <li class="nav-item dropdown m-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="notification_indicator d-none"></span>
                            Admin Tools
                            </a>
                            <div class="dropdown-menu p-0 rounded-0" style="box-shadow: 1px 1px 2px black;" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'skillAcceptance' %}">Skill Acceptance
                                    <span id="skill_notification_count" class="badge badge-primary ml-1 d-none"></span>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item"  href="{% url 'import' %}">Employee Creation</a>
                            </div>
                        </li>
                    {% endblock %}

                    {% block builders_pages %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Builders
                            </a>
                            <div class="dropdown-menu p-0 rounded-0" style="box-shadow: 1px 1px 2px black;" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'teammaker' %}">Team Builder</a>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="{% url 'projectmaker' %}">Project Builder</a>
                            </div>
                        </li>
                    {% endblock %}
                {% endif %}

            </ul>

                    {% if user.is_authenticated %}
                        <div class="dropdown ml-auto pl-0">
                            <img class="mr-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{%  static 'images/components/person-circle-off-white.svg' %}" style="height: 1em; width: 1em; font-size: 1.7em;cursor:pointer;">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: auto;right: 0;padding: 0;border-radius: 0;min-width: auto;">
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="nav-link text-white ml-auto pl-0" href="{% url 'login' %}">
                            Sign-in
                        </a>
                    {% endif %}

        </div>
        {% if user.permission == "MNGR" %}
            <img id="clipboard_notify" src="{% static 'images/components/clipboard-off-white.svg' %}" class="mr-1" data-toggle="popover" data-popper-placement="left" title="Skill Notifications" style="height: 1em; width: 1em;font-size: 1.7em;cursor: pointer;">
            <span id="notification_count" class="counter_indicator d-none"></span>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}