{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block styling %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <script src="{% static 'js/teams/teamview.js' %}"></script>
        <script src="{% static 'js/utilities/bootstrap.js' %}"></script>
        <script src="{% static 'js/home/team_expansion.js' %}"></script>

    {% endblock %}
    {% block title %}<title>Profile</title>{% endblock %}
    {% block profile_page %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}
</head>
{% block content %}
<body>

        <div id="main_container">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Teams</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Projects</button>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div id="teams_container">
{#                  For team leads to see their teams.#}
                      {% for team in teamsForLead %}
                      <div class="team_entity">
                          <p class="team_name">
                              {{ team.name }}
                              <span class="expansion_activator arrow down"></span>
                              {% if user.permission == 'MNGR' %}
                                <a href="/teammaker/edit/{{ team.id }}" class="edit_button">Edit</a>
                              {% endif %}
                          </p>
                          <div class="team_expand d-none">
                              <div class="left_side">
                                  <p class="sub_heading">Team Members</p>
                                  <div class="member_container">
                                      {% for member in team.team_members.all %}
                                      <div class="member">
                                          <a href="/userDisplay/{{ member.id }}" class="member_name">{{ member.first_name }} {{ member.last_name }}</a>
                                          <p>{{ team.name }}</p>
                                          <p>{{ member.position }}</p>
                                      </div>
                                      {% empty %}
                                          <p>No members are in this team.</p>
                                      {% endfor %}
                                  </div>
                              </div>
                              <div class="right_side">
                                  <p class="sub_heading">Team Details</p>
                                  <div class="team_meta_container">
                                      <div class="team_description">
                                          <p class="team_meta_title">Team Description</p>
                                          <p class="team_meta_content">{{ team.short_description|truncatechars:100 }}</p>
                                      </div>
                                      <div class="team_projects">
                                          <p class="team_meta_title">Team Projects</p>
                                          <p class="team_meta_content">Should be link</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Projects</div>
            </div>

        </div>


{#    <div class="surroundBody">#}
{#            <div class="flex-container">#}
{#        <div class="leftBar">#}
{#            <div class="profilePicture">#}
{#                <img src="" alt="user profile picture">#}
{#                <p>{{ user.first_name }} {{ user.last_name }}</p>#}
{#            </div>#}
{##}
{#            <div class="button">#}
{#                <button type="button">Edit Profile</button>#}
{#            </div>#}
{##}
{#            <div class="userInfo">#}
{#                <div style="display: flex;flex-direction: column;">#}
{##}
{#                    <h4>Teams</h4>#}
{#                    <!-- content loaded from db -->#}
{#                    {% if user.is_authenticated %}#}
{#                    {% for team in usersTeams %}#}
{#                        <div class="holder">#}
{#                            <button class="btn btn-primary teams mb-2" data-toggle="collapse" data-target="#{{ team.id }}">{{ team.name }}</button>#}
{#                            {% if user.permission == 'MNGR' %}#}
{#                                <a href="/teammaker/edit/{{ team.id }}" class="team_edit_link">edit</a>#}
{#                            {% endif %}#}
{#                            <div class="collapse multi-collapse" id="{{ team.id }}">#}
{#                                <div class="card card-body">#}
{#                                    <a href="/teamDisplay/{{team.id}}" class="team_display_link">Team Profile Page</a>#}
{#                                    {% if team.leader != null %}#}
{#                                        <p>{{ team.leader }} (Lead)</p>#}
{#                                    {% endif %}#}
{#                                    {% for member in team.team_members.all %}#}
{#                                        {% if member != team.leader %}#}
{#                                            <p>{{member}}</p>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                        {% for team in teamsForLead %}#}
{#                        <div class="holder">#}
{#                            <button class="btn btn-primary teams mb-2" data-toggle="collapse" data-target="#{{ team.id }}">{{ team.name }}</button>#}
{#                            {% if user.permission == 'MNGR' %}#}
{#                                <a href="/teammaker/edit/{{ team.id }}" class="team_edit_link">edit</a>#}
{#                            {% endif %}#}
{#                            <div class="collapse multi-collapse" id="{{ team.id }}">#}
{#                                <div class="card card-body">#}
{#                                    {% if team.leader != null %}#}
{#                                        <p>{{ team.leader }} (Lead)</p>#}
{#                                    {% endif %}#}
{#                                    {% for member in team.team_members.all %}#}
{#                                        {% if member != team.leader %}#}
{#                                            <p>{{member}}</p>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    {% endif %}#}
{#                    <button id="showTeams" class="btn btn-secondary">Show All</button>#}
{#                </div>#}
{##}
{#                <br>#}
{##}
{#                <div style="display: flex;flex-direction: column;">#}
{##}
{#                    <h4>Projects</h4>#}
{#                    <!-- content loaded from db -->#}
{#                    {% if user.is_authenticated %}#}
{#                    {% for project in userProjects %}#}
{#                        <div class="holder">#}
{#                            <button class="btn btn-primary projects mb-2" value ="{{project.id}}">{{ project.name }}</button>#}
{#                             {% if user.permission == 'MNGR' %}#}
{#                                 <a href="/projectmaker/edit/{{ project.id }}" class="team_edit_link">edit</a>#}
{#                             {% endif %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    {% for project in userProjectsOwned %}#}
{#                        <div class="holder">#}
{#                            <button class="btn btn-primary projects mb-2" value ="{{project.id}}">{{ project.name }}</button>#}
{#                             {% if user.permission == 'MNGR' %}#}
{#                                 <a href="/projectmaker/edit/{{ project.id }}" class="team_edit_link">edit</a>#}
{#                             {% endif %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    {% endif %}#}
{##}
{#                </div>#}
{##}
{#                <br>#}
{##}
{#                <div>#}
{#                    <h4>Roles</h4>#}
{#                    <!-- content loaded from db -->#}
{#                    <ul>#}
{#                        <li>Example Role 1</li>#}
{#                        <li>Example Role 2</li>#}
{#                    </ul>#}
{#                </div>#}
{##}
{#                <br>#}
{##}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#        <div class="middleBar">#}
{#            <div class="announcements">#}
{#                <h4>Announcements</h4>#}
{#                <!-- content loaded from db -->#}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="rightBar">#}
{#            <h4>Bio</h4>#}
{#            <!-- content loaded from db -->#}
{#            <p>Position: {{ user.position }}</p>#}
{#            <p>Email: {{ user.email }}</p>#}
{#            <div>#}
{#                    <h4>Skills</h4>#}
{#                    <!-- content loaded from db -->#}
{#                    <ul>#}
{#                        <li>Example Skill 1</li>#}
{#                        <li>Example Skill 2</li>#}
{#                    </ul>#}
{#                </div>#}
{#        </div>#}
{##}
{#    </div>#}

</body>
{% endblock %}
</html>