{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block styling %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <script src="{% static 'js/teams/teamview.js' %}"></script>
    {% endblock %}
    {% block title %}<title>Profile</title>{% endblock %}
    {% block profile_page %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}
</head>
{% block content %}
<body>

    <div class="surroundBody">
            <div class="flex-container">
        <div class="leftBar">
            <div class="profilePicture">
                <img src="" alt="user profile picture">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>

            <div class="button">
                <button type="button">Edit Profile</button>
            </div>

            <div class="userInfo">
                <div style="display: flex;flex-direction: column;">

                    <h4>Teams</h4>
                    <!-- content loaded from db -->
                    {% if user.is_authenticated %}
                    {% for team in usersTeams %}
                        <div class="holder">
                            <button class="btn btn-primary teams mb-2" data-toggle="collapse" data-target="#{{ team.id }}">{{ team.name }}</button>
                            {% if user.permission == 'MNGR' %}
                                <a href="/teammaker/edit/{{ team.id }}" class="team_edit_link">edit</a>
                            {% endif %}
                            <div class="collapse multi-collapse" id="{{ team.id }}">
                                <div class="card card-body">
                                    {% if team.leader != null %}
                                        <p>{{ team.leader }} (Lead)</p>
                                    {% endif %}
                                    {% for member in team.team_members.all %}
                                        {% if member != team.leader %}
                                            <p>{{member}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        {% for team in teamsForLead %}
                        <div class="holder">
                            <button class="btn btn-primary teams mb-2" data-toggle="collapse" data-target="#{{ team.id }}">{{ team.name }}</button>
                            {% if user.permission == 'MNGR' %}
                                <a href="/teammaker/edit/{{ team.id }}" class="team_edit_link">edit</a>
                            {% endif %}
                            <div class="collapse multi-collapse" id="{{ team.id }}">
                                <div class="card card-body">
                                    {% if team.leader != null %}
                                        <p>{{ team.leader }} (Lead)</p>
                                    {% endif %}
                                    {% for member in team.team_members.all %}
                                        {% if member != team.leader %}
                                            <p>{{member}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    <button id="showTeams" class="btn btn-secondary">Show All</button>
                </div>

                <br>

                <div style="display: flex;flex-direction: column;">

                    <h4>Projects</h4>
                    <!-- content loaded from db -->
{#                    {% if user.is_authenticated %}#}
                    {% for project in userProjects %}
                        <div class="holder">
                            <button class="btn btn-primary projects mb-2">{{ project.name }}</button>
                             {% if user.permission == 'MNGR' %}
                                 <a href="/projectmaker/edit/{{ project.id }}" class="team_edit_link">edit</a>
                             {% endif %}
                        </div>
                    {% endfor %}
                    {% for project in userProjectsOwned %}
                        <div class="holder">
                            <button class="btn btn-primary projects mb-2">{{ project.name }}</button>
                             {% if user.permission == 'MNGR' %}
                                 <a href="/projectmaker/edit/{{ project.id }}" class="team_edit_link">edit</a>
                             {% endif %}
                        </div>
                    {% endfor %}
{#                    {% endif %}#}

                </div>

                <br>

                <div>
                    <h4>Roles</h4>
                    <!-- content loaded from db -->
                    <ul>
                        <li>Example Role 1</li>
                        <li>Example Role 2</li>
                    </ul>
                </div>

                <br>



            </div>
        </div>
    </div>

        <div class="middleBar">
            <div class="announcements">
                <h4>Announcements</h4>
                <!-- content loaded from db -->

            </div>
        </div>

        <div class="rightBar">
            <h4>Bio</h4>
            <!-- content loaded from db -->
            <p>Position: {{ user.position }}</p>
            <p>Email: {{ user.email }}</p>
            <div>
                    <h4>Skills</h4>
                    <!-- content loaded from db -->
                    <ul>
                        <li>Example Skill 1</li>
                        <li>Example Skill 2</li>
                    </ul>
                </div>
        </div>

    </div>

</body>
{% endblock %}
</html>