{% extends 'nav.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{ info.name }}</title>{% endblock %}
</head>
{% block content %}
<body>
<p>Owner: {{info.owner}}</p>
<p>ID: {{info.id}}</p>
<p>Short Description: {{info.short_description}}</p>
<p>Description: {{info.description}}</p>


{% for team in projectTeams %}
 <li><a href="/teamDisplay/{{team.id}}/">{{team.name}}</a></li>
{% endfor %}


</body>
{% endblock %}
</html>