{% extends 'nav.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %}<title>{{ info.name }}</title>{% endblock %}
    {% load static %}
    {% block styling %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/project_display.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
<div class="mainDiv">
    <div class = "boxDesign">
        <div>
            <p class="heading">Owner: </p>
            <p class="paragraph"> {{info.owner}}</p>
        </div>
        <div>
            <p class="heading">ID:</p>
            <p class="paragraph"> {{info.id}}</p>
        </div>
            <div>
                 <p class="heading">Short Description: </p>
                 <p class="paragraph"> {{info.short_description}}</p>
            </div>

            <div>
                 <p class="heading">Description: </p>
                 <p class="paragraph"> {{info.description}}</p>
            </div>


        <div>
            {% for team in projectTeams %}
            <button class="buttonDesign"> <a href="/teamDisplay/{{team.id}}/">{{team.name}}</a> </button>
            {% endfor %}
        </div>

    </div>
</div>

</body>
{% endblock %}
</html>