<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>Team Maker</title>
</head>

<body>
    <div class="d-flex flex-md-column align-items-center w-100 border-primary border">
        <p class="w-50 m-1 bg-primary text-center">Times</p>
        <p class="w-50 m-1 bg-primary text-center">Times</p>
        <p class="w-50 m-1 bg-primary text-center">Times</p>
    </div>
</body>

</html>