{% extends 'nav.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{ profile_info.name }}</title>{% endblock %}
    {% load static %}
    {% block styling %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_display.css' %}">
    <script src="{% static 'js/teams/teamview.js' %}"></script>
    {% endblock %}
</head>

{% block content %}
<body>
<div style="display: flex; justify-content: center;">
    <div style="width: 600px; padding: 30px; margin-top: 10px; border-style: solid; box-shadow: 10px 10px 10px 10px grey;">
            <div>
                <p style="font-weight: bold; text-align: center; font-size: x-large">{{profile_info.name}}</p>
            </div>
            <hr>
            <div>
                <p style="font-weight: bold">Position: </p>
                <p style="margin-left: 10px"> {{profile_info.position}}</p>
            </div>
            <div>
                <p style="font-weight: bold">Email: </p>
                <p style="margin-left: 10px">{{profile_info.email}}</p>
            </div>
            <div >
                <p style="font-weight: bold">Projects Attached:</p>

                {% for project in usersProjects.project %}
                <button style="width: 20em; margin: 0 auto; display: flex; justify-content: center"><a href="/projectDisplay/{{project.id}}/">{{project.name}}</a></button>
                {% endfor %}
            </div>
            <div>
                <p style="font-weight: bold; margin-top: 10px">Teams Attached:</p>
                {% for team in usersTeams %}
                <button style="width: 20em; margin: 0 auto; display: flex; justify-content: center"><a href="/teamDisplay/{{team.id}}/">{{team.name}}</a></button>
                <br>
                {% endfor %}
            </div>
         <div>
                <p style="font-weight: bold">Skills:</p>

                {% for skill in usersSkills %}
                <li>{{ skill.name }}</li>
                {% endfor %}
            </div>
    </div>


</div>

</body>
{% endblock %}
</html>